<div class="message-wrapper">
    <div id="{{messageData.$id}}" class="chat-bubble" ng-repeat="messageData in chatCtrl.messages">
		<span ng-if="mainCtrl.onlineUserIds.indexOf(messageData.uid) !== -1" class="status-online"></span>
		<span ng-if="mainCtrl.onlineUserIds.indexOf(messageData.uid) === -1" class="status-offline"></span>
		<span class="time">{{messageData.timestamp | toDateTimeString}}</span>
        <strong string-to-color input-str="messageData.username">{{messageData.username}}: </strong>
        <span>{{messageData.text}}</span>
    </div>
</div>

<footer class="footer">
    <form ng-submit="chatCtrl.sendMessage()">
        <div class="form-group">
            <label class="sr-only" for="inputMessage">Message</label>
            <div class="input-group">
                <input type="text" class="form-control" id="inputMessage" ng-model="chatCtrl.message" placeholder="Message" required="" autofocus="">
                <div class="input-group-addon" ng-click="chatCtrl.sendMessage()">Send</div>
            </div>
        </div>
    </form>
</footer>