<form role="form">
    <div class="form-group">
        <label for="inputEmail">E-mail</label>
        <input type="email" class="form-control" id="inputEmail" ng-model="resetPasswordCtrl.user.email" placeholder="Enter e-mail" required="" autofocus="">
    </div>
    <button type="submit" class="btn btn-primary" ng-click="resetPasswordCtrl.resetPassword()">Reset</button>
</form>