<div class="row">
	<div class="col-xs-12">
		<form role="form">
			<div class="form-group">
				<label for="inputEmail">E-mail</label>
				<input type="email" class="form-control" id="inputEmail" ng-model="signInCtrl.user.email" placeholder="Enter e-mail" required="" autofocus="">
			</div>
			<div class="form-group">
				<label for="inputPassword">Password</label>
				<input type="password" class="form-control" id="inputPassword" ng-model="signInCtrl.user.password" placeholder="Enter password" required="">
			</div>
			<div ng-if="signInCtrl.hasAuthError" class="alert alert-warning">Wrong e-mail and/or password</div>
			<button type="submit" class="btn btn-primary" ng-click="signInCtrl.signIn()">Sign in</button>
			<a class="btn btn-default" ng-click="signInCtrl.resetPassword()">Reset password</a>
		</form>
	</div>
</div>
<div class="row register-wrapper">
	<div class="col-xs-12">
		<a class="btn btn-default" ng-click="signInCtrl.register()">Register new user</a>
	</div>
</div>