body { padding-top: 70px; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.log-out {
  margin: 10px 0;
  padding: 0 15px;
}

@import '/sign-in/sign-in.less';
@import '/register/register.less';
@import '/reset-password/reset-password.less';
@import '/profile/profile.less';
@import '/statistics/statistics.less';
@import '/chat/chat.less';