<div class="row profile-wrapper">
	<div class="col-xs-12">
		<form role="form">
			<div class="form-group">
				<label for="inputUsernameProfile">Username</label>
				<input type="text" class="form-control" id="inputUsernameProfile" ng-model="profileCtrl.user.profile.username" disabled>
			</div>
			<div class="form-group">
				<label for="inputEmailProfile">Email address</label>
				<input type="email" class="form-control" id="inputEmailProfile" ng-model="profileCtrl.user.profile.email" disabled>
			</div>
			<div class="form-group">
				<select class="form-control" ng-model="profileCtrl.msgLimit">
					<option ng-repeat="limit in profileCtrl.msgLimits" ng-selected="profileCtrl.msgLimit === limit">{{limit}}</option>
				</select>
			</div>
			<div>
				<button type="submit" class="btn btn-primary" ng-click="profileCtrl.setMsgLimit()">Save</button>
			</div>
		</form>
	</div>
</div>
<div class="row remove-wrapper">
	<div class="col-xs-12">
		<form role="form">
			<div class="form-group">
				<label for="inputPasswordRemove">Password</label>
				<input type="password" class="form-control" id="inputPasswordRemove" ng-model="profileCtrl.removePassword" placeholder="Enter password" pattern=".{6,}" required="" autofocus="">
			</div>
			<div>
				<button type="submit" class="btn btn-danger" ng-click="profileCtrl.removeUser()">Delete my account</button>
			</div>
		</form>
	</div>
</div>