<div class="row">
	<div class="col-xs-12">
		<form role="form">
			<div class="form-group">
				<label for="inputUsernameRegister">Username</label>
				<input type="text" class="form-control" id="inputUsernameRegister" ng-model="registerCtrl.user.profile.username" placeholder="Enter username" pattern=".{3,}" required="" autofocus="">
			</div>
			<div class="form-group">
				<label for="inputEmailRegister">Email address</label>
				<input type="email" class="form-control" id="inputEmailRegister" ng-model="registerCtrl.user.profile.email" placeholder="Enter email" required="">
			</div>
			<div class="form-group">
				<label for="inputPasswordRegister">Password</label>
				<input type="password" class="form-control" id="inputPasswordRegister" ng-model="registerCtrl.user.password" placeholder="Enter password" pattern=".{6,}" required="">
			</div>
			<div>
				<button type="submit" class="btn btn-primary" ng-click="registerCtrl.registerUser()">Register</button>
			</div>
		</form>
	</div>
</div>