<div class="row profile-wrapper">
	<div class="col-xs-12">
		<form role="form">
			<div class="form-group">
				<select class="form-control" ng-model="statisticsCtrl.stepVal" ng-change="statisticsCtrl.setStepVal()">
					<option value="{{$index}}" ng-repeat="step in statisticsCtrl.steps track by $index" ng-selected="statisticsCtrl.stepVal === $index">{{statisticsCtrl.stepTitles[$index]}}</option>
				</select>
			</div>
		</form>
	</div>
</div>
<canvas id="line" class="chart chart-line" data="statisticsCtrl.data" labels="statisticsCtrl.labels" series="statisticsCtrl.series"></canvas>