.message-wrapper {
	margin-bottom: 60px;
}

.chat-bubble {
	padding: 0 5px;
	margin-bottom: 5px;
	position: relative;
}

.status-online,
.status-offline {
	width: 6px;
	height: 6px;
	border-radius: 5px;
	color: #fff;
	display: block;
	position: absolute;
	top: 7px;
	left: -5px;
}

.status-online {
	background-color: #5cb85c;
}

.status-offline {
	background-color: #d9534f;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #f5f5f5;
	border-top: 1px solid #e7e7e7;

	form {
		margin: 0 15px;
	}

	.form-group {
		margin: 7px 0;
	}
}

.input-group-addon {
	cursor: pointer;
}