<!DOCTYPE html>
<html lang="en" ng-app="@@name">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="shortcut icon" href="@@faviconIncludeReplaceToken">
        <link rel="stylesheet" href="@@cssIncludeReplaceToken">
		<title>EDGE Academy</title>
    </head>

    <body ng-controller="MainCtrl as mainCtrl" scroll-glue="$root.scrollGlue" ng-cloak="">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="#/chat">EDGE ({{mainCtrl.onlineUsers.length}})</a>
            </div>

            <div ng-if="mainCtrl.isLoggedIn()" class="navbar-header log-out pull-right">
				<a class="btn btn-default btn-sm" href="#/profile">Profile</a>
                <button class="btn btn-default btn-sm" ng-click="mainCtrl.logOut()">Logout</button>
            </div>
        </nav>

        <div class="container-fluid">
            <div ng-view="" ng-cloak=""></div>
        </div>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', '@@trackingId', 'auto');
		</script>

        <script type="application/javascript" src="@@jsIncludeReplaceToken"></script>
    </body>

</html>